/* region GENERAL */
.modal-backdrop {
    background: #AAAAAA;
}

.modal-content {
    background: #434343;
}

body, section {
    background: #434343!important;
}

p, ul, ol, li, span {
    color: #EEEEEE!important;
}

/*h1, h2, h3, h4, h5, h6 {*/
/*    color: white;*/
/*}*/

h1 {
    color: #13FFD5!important;
}

h2 {
    color: #25E8E0!important;
}

h3 {
    color: #46A2EB!important;
}

h4 {
    color: #6C57F6!important;
}

h5 {
    color: #9E3BFF!important;
}

h6 {
    color: #A336E8!important;
}

/* endregion */

/* region LI */

ul.unordered-list li:before {
    border-color: #A336E8;
}

/* endregion */

/* region SELECT */

.default-select ul, .default-select ul li, .default-select span {
    color: black!important;
}

.nice-select {
    background: white!important;
}

.nice-select span, .nice-select li {
    color: #444444!important;
}

.nice-select .list .option.selected {
    font-weight: 800;
}

.nice-select .list .option.disabled {
    color: #D4CBCB!important;
}

.nice-select .list {
    height: 100%;
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

/* endregion */

/* region INPUT */

.single-input, .single-textarea {
    background: white;
    color: black!important;
}

.single-input::placeholder, .single-textarea::placeholder {
    color: #A0A0A0!important;
}

/* endregion */



.generic-blockquote {
    border-left: 5px solid #A336E8;
}

.dropdown-item, .dropdown-item span {
    color: #444444!important;
}

/* region *****HEADER***** */
/* TODO header */
.header-area .main-header-area.sticky {
    background: #434343;
    border-bottom: 1px solid #A336E8;
}

.header-area .main-header-area {
    background: rgba(67, 67, 67, 0.8);
}

.header-area .main-header-area .main-menu ul li a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-area .main-header-area .main-menu ul li a:hover {
    color: #13FFD5;
}

.bradcam_area {
    background-image: url('../img/top.jpg');
}
/* endregion */


/* region *****BUTTONS***** */
.btn {
}
.btn.disabled, .btn:disabled {
}
.btn:hover {
}
.btn:active {
}
.btn:focus {
}

.btn-primary {
    background: #A336E8;
    color: white;
    border: none;
}
.btn-primary.disabled, .btn-primary:disabled {
    background: #E7B2FE;
}
.btn-primary:hover {
    background: #BE26FF;
}
.btn-primary:active {
    background: #BE26FF!important;
    box-shadow: 0 0 1px 3px #E7B2FE!important;
}
.btn-primary:focus {
    background: #BE26FF!important;
    box-shadow: 0 0 1px 3px #E7B2FE!important;
}

.btn-secondary {
    background: #13FFD5;
    color: #444444;
    border: none;
}
.btn-secondary.disabled, .btn-secondary:disabled {
    background: #CAFFF2;
    color: #444444;
}
.btn-secondary:hover {
    background: #63FFD9;
    color: #444444;
}
.btn-secondary:active {
    background: #63FFD9!important;
    color: #444444!important;
    box-shadow: 0 0 1px 3px #CAFFF2!important;
}
.btn-secondary:focus {
    background: #63FFD9!important;
    color: #444444!important;
    box-shadow: 0 0 1px 3px #CAFFF2!important;
}

.btn-success {
    background: #A7F510;
    color: #444444;
    border: none;
}
.btn-success.disabled, .btn-success:disabled {
    background: #E5FDBF;
    color: #444444;
}
.btn-success:hover {
    background: #B8FF4A;
    color: #444444;
}
.btn-success:active {
    background: #B8FF4A!important;
    color: #444444!important;
    box-shadow: 0 0 1px 3px #E5FDBF!important;
}
.btn-success:focus {
    background: #B8FF4A!important;
    color: #444444!important;
    box-shadow: 0 0 1px 3px #E5FDBF!important;
}

.btn-danger {
    background: #EC417D;
    color: white;
    border: none;
}
.btn-danger.disabled, .btn-danger:disabled {
    background: #FCC5D9;
}
.btn-danger:hover {
    background: #FF357E;
}
.btn-danger:active {
    background: #FF357E!important;
    box-shadow: 0 0 1px 3px #FCC5D9!important;
}
.btn-danger:focus {
    background: #FF357E!important;
    box-shadow: 0 0 1px 3px #FCC5D9!important;
}

.btn-warning {
    background: #FFEB00;
    border: none;
    color: #444444;
}
.btn-warning.disabled, .btn-warning:disabled {
    background: #FDFABF;
}
.btn-warning:hover {
    background: #FFF64B;
}
.btn-warning:active {
    background: #FFF64B!important;
    box-shadow: 0 0 1px 3px #FDFABF!important;
}
.btn-warning:focus {
    background: #FFF64B!important;
    box-shadow: 0 0 1px 3px #FDFABF!important;
}

.btn-info {
    background: #0097CC;
    color: white;
    border: none;
}
.btn-info.disabled, .btn-info:disabled {
    background: #C3DFEF;
}
.btn-info:hover {
    background: #24ADFF;
}
.btn-info:active {
    background: #24ADFF!important;
    box-shadow: 0 0 1px 3px #C3DFEF!important;
}
.btn-info:focus {
    background: #24ADFF!important;
    box-shadow: 0 0 1px 3px #C3DFEF!important;
}

.btn-light {
    background: #FFFFFF;
    border: none;
    color: #444444;
}
.btn-light.disabled {
    background: #FFFFFF;
}
.btn-light:hover {
    background: #F5F5F5;
}
.btn-light:active {
    background: #F5F5F5!important;
    box-shadow: 0 0 1px 3px #FFFFFF!important;
}
.btn-light:focus {
    background: #F5F5F5!important;
    box-shadow: 0 0 1px 3px #FFFFFF!important;
}

.btn-dark {
}
.btn-dark.disabled {
    background: #C2C4C5;
}
.btn-dark:hover {
}
.btn-dark:active {
}


.btn-outline-primary {
    background: rgba(255, 255, 255, 0);
    color: #A336E8;
    border-color: #A336E8;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    background: rgba(255, 255, 255, 0);
    color: #E7B2FE;
    border-color: #E7B2FE;
}
.btn-outline-primary:hover {
    background: #A336E8;
    color: white;
    border-color: #A336E8;
}
.btn-outline-primary:active {
    background: #BE26FF!important;
    box-shadow: 0 0 1px 3px #E7B2FE!important;
    border-color: #BE26FF!important;
    color: white!important;
}
.btn-outline-primary:focus {
    background: #BE26FF!important;
    box-shadow: 0 0 1px 3px #E7B2FE!important;
    border-color: #BE26FF!important;
    color: white!important;
}

.btn-outline-secondary {
    background: rgba(255, 255, 255, 0);
    color: #13FFD5;
    border-color: #13FFD5;
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    background: rgba(255, 255, 255, 0);
    color: #CAFFF2;
    border-color: #CAFFF2;
}
.btn-outline-secondary:hover {
    background: #13FFD5;
    color: #444444;
    border-color: #13FFD5;
}
.btn-outline-secondary:active {
    background: #63FFD9!important;
    box-shadow: 0 0 1px 3px #CAFFF2!important;
    border-color: #63FFD9!important;
    color: #444444!important;
}
.btn-outline-secondary:focus {
    background: #63FFD9!important;
    box-shadow: 0 0 1px 3px #CAFFF2!important;
    border-color: #63FFD9!important;
    color: #444444!important;
}

.btn-outline-success {
    background: rgba(255, 255, 255, 0);
    color: #A7F510;
    border-color: #A7F510;
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
    background: rgba(255, 255, 255, 0);
    color: #E5FDBF;
    border-color: #E5FDBF
}
.btn-outline-success:hover {
    background: #A7F510;
    color: #444444;
    border-color: #A7F510;
}
.btn-outline-success:active {
    background: #B8FF4A!important;
    box-shadow: 0 0 1px 3px #E5FDBF!important;
    border-color: #B8FF4A!important;
    color: #444444!important;
}
.btn-outline-success:focus {
    background: #B8FF4A!important;
    box-shadow: 0 0 1px 3px #E5FDBF!important;
    border-color: #B8FF4A!important;
    color: #444444!important;
}

.btn-outline-danger {
    background: rgba(255, 255, 255, 0);
    color: #EC417D;
    border-color: #EC417D;
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    background: rgba(255, 255, 255, 0);
    color: #FCC5D9;
    border-color: #FCC5D9
}
.btn-outline-danger:hover {
    background: #EC417D;
    color: white;
    border-color: #EC417D;
}
.btn-outline-danger:active {
    background: #FF357E!important;
    box-shadow: 0 0 1px 3px #FCC5D9!important;
    border-color: #FF357E!important;
    color: white!important;
}
.btn-outline-danger:focus {
    background: #FF357E!important;
    box-shadow: 0 0 1px 3px #FCC5D9!important;
    border-color: #FF357E!important;
    color: white!important;
}

.btn-outline-warning {
    background: rgba(255, 255, 255, 0);
    color: #FFEB00;
    border-color: #FFEB00;
}
.btn-outline-warning.disabled, .btn-outline-warning:disabled {
    background: rgba(255, 255, 255, 0);
    color: #FDFABF;
    border-color: #FDFABF;
}
.btn-outline-warning:hover {
    background: #FFEB00;
    border-color: #FFEB00;
    color: #444444;
}
.btn-outline-warning:active {
    background: #FFF64B!important;
    box-shadow: 0 0 1px 3px #FDFABF!important;
    border-color: #FFF64B!important;
    color: #444444!important;
}
.btn-outline-warning:focus {
    background: #FFF64B!important;
    box-shadow: 0 0 1px 3px #FDFABF!important;
    border-color: #FFF64B!important;
    color: #444444!important;
}

.btn-outline-info {
    background: rgba(255, 255, 255, 0);
    color: #0097CC;
    border-color: #0097CC;
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
    background: rgba(255, 255, 255, 0);
    color: #C3DFEF;
    border-color: #C3DFEF
}
.btn-outline-info:hover {
    background: #0097CC;
    color: white;
    border-color: #0097CC;
}
.btn-outline-info:active {
    background: #24ADFF!important;
    box-shadow: 0 0 1px 3px #C3DFEF!important;
    border-color: #24ADFF!important;
    color: white!important;
}
.btn-outline-info:focus {
    background: #24ADFF!important;
    box-shadow: 0 0 1px 3px #C3DFEF!important;
    border-color: #24ADFF!important;
    color: white!important;
}

.btn-outline-light {
    background: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.btn-outline-light.disabled .btn-outline-light:disabled {
    background: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    border-color: #FFFFFF
}
.btn-outline-light:hover {
    background: white;
    color: #444444;
    border-color: #FFFFFF;
}
.btn-outline-light:active {
    background: #F5F5F5!important;
    box-shadow: 0 0 1px 3px #FFFFFF!important;
    border-color: #F5F5F5!important;
    color: #444444!important;
}
.btn-outline-light:focus {
    background: #F5F5F5!important;
    box-shadow: 0 0 1px 3px #FFFFFF!important;
    border-color: #F5F5F5!important;
    color: #444444!important;
}
/* endregion END BUTTONS */

/* region *****BACKGROUND COLORS***** */
.bg-primary {
    background: #A336E8!important;
    color: white;
}

.bg-secondary {
    background: #13FFD5!important;
    color: #444444;
}

.bg-success {
    background: #A7F510!important;
    color: #444444;
}

.bg-danger {
    background: #EC417D!important;
    color: white;
}

.bg-warning {
    background: #FFEB00!important;
    color: #444444;
}

.bg-info {
    background: #0097CC!important;
    color: white;
}

.bg-light {
    background: #FFFFFF!important;
    color: #444444;
}

.bg-dark {
    background: #444444!important;
    color: white;
}
/* endregion END BACKGROUND COLORS */

/* region *****LIST GROUP ITEMS***** */
.list-group-item.active {
    background: #A336E8;
    border: 1px solid #13FFD5;
}
/* endregion END LIST GROUP ITEMS */

/* region *****TEXT***** */
.text-primary {
    color: #A336E8!important;
}

.text-secondary {
    color: #13FFD5!important;
}

.text-success {
    color: #A7F510!important;
}

.text-danger {
    color: #EC417D!important;
}

.text-warning {
    color: #FFEB00!important;
}

.text-info {
    color: #0097CC!important;
}

.text-light {
    color: #FFFFFF!important;
}

.text-dark {
    color: #444444!important;
}
/* endregion END TEXT */

/* region *****BORDERS***** */
.border-primary {
    border-color: #A336E8!important;
}

.border-secondary {
    border-color: #13FFD5!important;
}

.border-success {
    border-color: #A7F510!important;
}

.border-danger {
    border-color: #EC417D!important;
}

.border-warning {
    border-color: #FFEB00!important;
}

.border-info {
    border-color: #0097CC!important;
}

.border-light {
    border-color: #FFFFFF!important;
}

.border-dark {
    border-color: #444444!important;
}
/* endregion END BORDERS */

/* region BOOTSTRAP TABLE */
.bootstrap-table span.card-view-value, .bootstrap-table span.card-view-title {
    color: #444444!important;
}

.bootstrap-table td, .bootstrap-table th {
    background: #F9F9FF;
}

.bootstrap-table th {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    /*border-color: #A336E8!important;*/
    height: 35px;
    line-height: 14px;
}
/* endregion */

/* region SWITCHES */
.switch.switch-primary input:checked + label:before {
    background: #A336E8;
}

.switch.switch-secondary input:checked + label:before {
    background: #13FFD5;
}

.switch.switch-success input:checked + label:before {
    background: #A7F510;
}

.switch.switch-danger input:checked + label:before {
    background: #EC417D;
}

.switch.switch-warning input:checked + label:before {
    background: #FFEB00;
}

.switch.switch-info input:checked + label:before {
    background: #0097CC;
}

.switch.switch-light input:checked + label:before {
    background: #FFFFFF;
}

.switch.switch-dark input:checked + label:before {
    background: #444444;
}
/*  endregion */

/* region CHECKBOXES */
.primary-checkbox {
    border-radius: 4px;
}
.primary-checkbox input:checked + label {
    background: url("../img/templateOverwrite/primary-check.png");
}
/* endregion */

/* region RADIOS */
.primary-radio {
    border-radius: 8px;
}
.primary-radio input:checked + label {
    background: url("../img/templateOverwrite/primary-radio.png");
}
/* endregion */
