{#
 * Author: Héctor Zaragoza Arranz
 * Date: 12/02/2020
#}
<div class="container p-5">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <input type="text" placeholder="Search keyword" class="big-input">
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="single_input">
                <select class="wide" >
                    <option data-display="Location">Location</option>
                    <option value="1">Dhaka</option>
                    <option value="2">Rangpur</option>
                    <option value="4">Sylet</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="single_input">
                <select class="wide">
                    <option data-display="Category">Category</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                    <option value="4">Category 3</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 text-center">
            <div class="job_btn">
                <button class="btn btn-primary btn-lg">Find Job</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12 text-center">
            <div>
                <span>Popular Search:</span>
                <span class="badge big-badge bg-secondary text-dark m-1">Design & Creative</span>
                <span class="badge big-badge bg-secondary text-dark m-1">Marketing</span>
                <span class="badge big-badge bg-secondary text-dark m-1">Administration</span>
                <span class="badge big-badge bg-secondary text-dark m-1">Teaching & Education</span>
                <span class="badge big-badge bg-secondary text-dark m-1">Software & Web</span>
                <span class="badge big-badge bg-secondary text-dark m-1">Telemarketing</span>
            </div>
        </div>
    </div>
</div>