<!doctype html>
<html lang="{{ app.request.locale }}">

<head>
    <title>{% block title %}Hive5{% endblock %}</title>
    {% include 'parts/head.html.twig' %}
</head>

<body style="overflow: hidden">
    {#
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    #}
    {% block body %}
        {% include 'parts/preloader.html.twig' %}
        <!-- header-start -->
        {% include 'parts/header.html.twig' %}
        <!-- header-end -->

        <div id="mainSection" style="opacity: 0; display: none;">
            {% block main %}
            {% endblock %}
            {% include 'components/modal/loginModal.html.twig' %}
        </div>
        <!-- footer start -->
        {% include 'parts/footer.html.twig' %}
        <!--/ footer end  -->

        <!-- JS here -->
        {% include 'parts/scripts.html.twig' %}
    {% endblock %}
</body>
</html>